{% extends "base2.html" %} 
{% load static %}
{% block content %}
<div class="sub-banner overview-bgi">
 
  <div class="container breadcrumb-area">
      <div class="breadcrumb-areas">

        <h1>Dashboard</h1>
        <ul class="breadcrumbs">
          <li><a href="/">Home</a></li>
            <li class="active">{{request.user.username}}</li>
        </ul>
                 </div>
  </div>
</div>
<!-- Sub Banner end -->
<div class="content-area">
  <div class="container">
  
   <h5>Welcome {{request.user.first_name}}</h5>
    
   {% if requests.count > 0 %}
      <p>Here are your rescent requests inquiries</p>
      <!-- <table class="inq_table">
        <tr>
          <th id="inq_car_img_h">#</th>
          <th id="inq_car_name_h">Car Name</th>
          <th id="inq_loc_h">Location</th>
          <th id="inq_price_h">price</th>
          <th id"inq_cmd_h"></th>
        </tr>
      {% for r in requests %}
         <tr>
          <td id="inq_car_img"><img class="d-block w-100" src="{% static 'images/car/{{r.auto.image}}' %}" alt="img"></td>
          <td id="inq_car_name"> {{r.auto.name}}</td>
          <td id="inq_loc"> {{r.auto.location}}</td>
          <td id="inq_price">${{r.auto.price}}</td>
          <td id="inq_cmd"><a href="/autos/{{r.auto.id}}" class="btn btn-danger btn-sm">View</a></td>
        </tr>
      {% endfor %}
    </table> -->
    <div class="row">
        {% for r in requests %}
        <div class=" col-md-4 col-sm-4 col-xs-4 col-featured">
          <div class="car-box">
            <div class="car-thumbnail">
                <a href="/autos/{{r.auto.id}}" class="car-img">
                    <div class="tag">For Sale</div>
                    <img class="d-block w-100" src="/static/images/car/{{r.auto.name}} {{r.auto.color}}/{{ r.auto.image }}" alt="car">
                    <div class="facilities-list clearfix">
                        <ul>
                            <li>
                                <span><i class="flaticon-way"></i></span>{{ r.auto.milage }} km
                            </li>
                            <li>
                                <span><i class="flaticon-calendar-1"></i></span>{{r.auto.year}}
                            </li>
                            <li>
                                <span><i class="flaticon-manual-transmission"></i></span>{{r.auto.transmission}}
                            </li>
                        </ul>
                    </div>
                </a>
                
            </div>
            <div class="detail">
                <h1 class="title">
                    <a href="/autos/{{r.auto.id}}">{{r.auto.name}}</a>
                </h1>
                <div class="location">
                    <a href="car-details.html">
                        <i class="flaticon-pin"></i>{{r.auto.location}}
                    </a>
                </div>
            </div>
            <div class="footer clearfix">
                <div class="pull-left ratings days">
                    <p class="cartype">{{r.auto.category.name}}</p>
                </div>
                <div class="pull-right">
                    <p class="price">${{r.auto.price}}</p>
                </div>
            </div>
          </div>
        </div>
       {% endfor %}
    </div>

   {% else %}
   <p>You don't have any requests inquiries</p>
   {% endif %}
   </div>
</div>
{% endblock %}