{% extends "base2.html" %} 
{% load static %}
{% block title %}   Shop for Used And New Cars, Make Inquires, Get Reports{% endblock %}
{% block content %}

<!-- Banner start -->
<div class="banner" id="banner">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner banner-slider-inner text-center">
            <div class="carousel-item banner-max-height active item-bg">
                <img class="d-block w-100 h-100" src="{% static 'images/banner/car-1.jpg' %}" alt="banner">
                <div class="carousel-content container banner-info-2 bi-2 text-left">
                    <h3>Wow Factor Standard</h3>
                    <h5>Allow us to guide you through the innovative stress<br>
                        free approach in finding your dream car.</h5>
                    <a href="/services" class="btn btn-lg btn-theme">Read more</a>
                </div>
            </div>
            <div class="carousel-item banner-max-height item-bg">
                <img class="d-block w-100 h-100" src="{% static 'images/banner/car-2.jpg' %}" alt="banner">
                <div class="carousel-content container banner-info-2 bi-2 text-left">
                    <h3>Explore Your Dream Car</h3>
                    <h5>Allow us to guide you through the innovative stress<br>
                        free approach in finding your dream car.</h5>
                    <a href="/autos" class="btn btn-lg btn-theme">Read more</a>
                </div>
            </div>
            <div class="carousel-item banner-max-height item-bg">
                <img class="d-block w-100 h-100" src="{% static 'images/banner/car-3.jpg' %}" alt="banner">
                <div class="carousel-content container banner-info-2 bi-2 text-left">
                    <h3>We Are Wheel</h3>
                    <h5>Allow us to guide you through the innovative stress<br>
                        free approach in finding your dream car.</h5>
                    <a href="/about" class="btn btn-lg btn-theme">Read more</a>
                </div>
            </div>
            <div class="carousel-item banner-max-height item-bg">
                <img class="d-block w-100 h-100" src="{% static 'images/banner/car-4.jpg' %}" alt="banner">
                <div class="carousel-content container banner-info-2 bi-2 text-left">
                    <h3>Get all Cars</h3>
                    <h5>Allow us to guide you through the innovative stress<br>
                        free approach in finding your dream car.</h5>
                    <a href="/autos" class="btn btn-lg btn-theme">Read more</a>
                </div>
            </div>
        </div>
        <!-- Search box 3 start -->
        <div class="search-box-4 sb-8">
            <form action="{% url 'searchautoshome' %}"  method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" name="searched" placeholder="Search by name" class="form-control">
                </div>
                <div class="form-group" id="srch-makes">
                    <select class="form-control search-fields" name="srch-make">
                        <option selected="true" value="" disabled="disabled">Make</option>
                        {% for make in makes %}
                        <option value="{{make.name}}">{{make.name}}</option>
                       {% endfor %}
                    </select>
                </div>
                <div class="form-group" id="srch-models">
                    <select class="form-control search-fields" name="srch-model">
                        <option selected="true" disabled="disabled" value="">Model</option>
                        {% for model in models %}
                        <option value="{{model.name}}">{{model.name}}</option>
                       {% endfor %}
                    </select>
                </div>
                <div class="form-group" id="srch-loc">
                    <select class="form-control search-fields" name="srch-location">
                        <option selected="true" value="" disabled="disabled">Location</option>
                        <option value="Phoenix, AZ">Phoenix, AZ</option>
                        <option value="Sunnyvale, CA">Sunnyvale, CA</option>
                        <option value="San Jose, CA">San Jose, CA</option>
                        <option value="Cuppertino, CA">Cuppertino, CA</option>
                        <option value="Portland, OR">Portland, OR</option>
                        <option value="Alburquque, NM">Albaquirque, NM</option>
                        <option value="Seattle, WA">Seattle, WA</option>
                        <option value="Austin, TX">Austin TX</option>
                        <option value="Cheyenne, WY">Cheyeene, WY</option>
                    </select>
                </div>
                <div class="form-group" id="srch-year">
                    <select class="form-control search-fields" name="srch-year">
                        <option selected="true" disabled="disabled" value="">Year</option>
                        <option value="2016">2016</option>
                        <option value="2017">2017</option>
                        <option value="2018">2018</option>
                        <option value="2019">2019</option>
                        <option value="2020">2020</option>
                    </select>
                </div>
                <div class="form-group" id="srch-cat">
                    <select class="form-control search-fields" name="srch-category">
                        <option selected="true" disabled="disabled" value="">Select Type Of Car</option>
                        {% for category in categories %}
                        <option value="{{category.name}}">{{category.name}}</option>
                       {% endfor %}
                    </select>
                </div>
                <div class="range-slider clearfix" id="srch-price"  name="srch-price">
                                <label>Price</label>
                                <div data-min="0" data-max="150000"  data-min-name="min_price" data-max-name="max_price" data-unit="USD" class="range-slider-ui ui-slider" aria-disabled="false"></div>
                                <div class="clearfix"></div>
                            </div>
                <div class="form-group">
                    <button class="btn btn-block button-theme btn-md">
                        <i class="fa fa-search"></i> Search
                    </button>
                </div>
            </form>
        </div>
        <!-- Search box 3 end -->
        <a class="carousel-control-prev none-580" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="slider-mover-left" aria-hidden="true">
                <i class="fa fa-angle-left"></i>
            </span>
        </a>
        <a class="carousel-control-next none-580" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="slider-mover-right" aria-hidden="true">
                <i class="fa fa-angle-right"></i>
            </span>
        </a>
    </div>
</div>
<!-- Banner end -->

<!-- Search box 2 end -->

<!-- Featured car start -->
<div class="featured-car content-area-5">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1>Featured <span>Cars</span></h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <!-- Slick slider area start -->
        <div class="slick-slider-area clearfix">
            <div class="row slick-carousel" data-slick='{"slidesToShow": 3, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 2}}, {"breakpoint": 768,"settings":{"slidesToShow": 1}}]}'>
                {% for car in cars_featured %}
                <div class="slick-slide-item">
                   {% include 'autos/components2/featuredbox.html' %}
                </div>
                {% endfor %}
               
            </div>
            <div class="slick-btn">
                <div class="slick-prev slick-arrow-buton sab-4">
                    <i class="fa fa-angle-left"></i>
                </div>
                <div class="slick-next slick-arrow-buton sab-3">
                    <i class="fa fa-angle-right"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Featured car end -->

<!-- Rent car start -->
<div class="featured-car content-area">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1>Latest <span>Cars</span></h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="row">
            {% for car in cars_latest %}
            <div class="col-lg-4 col-md-6">
                {% include 'autos/components2/carbox.html' %}
            </div>
            {% endfor %}
            
        </div>
    </div>
</div>
<!-- Rent car end -->


<!-- Our team start -->
<div class="our-team content-area bg-grea-3">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1>Executive <span>Team</span></h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
        </div>
        <!-- Slick slider area start -->
        <div class="slick-slider-area clearfix">
            <div class="row slick-carousel" data-slick='{"slidesToShow": 4, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 2}}, {"breakpoint": 768,"settings":{"slidesToShow": 1}}]}'>
               {% for emp in staff %}
                <div class="slick-slide-item">
                    {% include 'autos/components2/teambox.html' %}
                </div>
                {% endfor %}
            
            </div>
        </div>
    </div>
</div>
<!-- Our team end -->

{% endblock %}