{% extends "base2.html" %} 
{% load static %}
{% block title %}   Services {% endblock %}
{% block content %}
<div class="sub-banner overview-bgi">
 

<div class="container breadcrumb-area">
  <div class="breadcrumb-areas">

    <h1>Our Services</h1>
    
      <ul class="breadcrumbs">
          <li><a href="/">Home</a></li>
          <li class="active"><a href="#">Services</a></li>
         
      </ul>
  </div>
</div>
</div>
<!-- Sub Banner end -->
<div class="white-page content-area">
 <div class="container">
   <h3>Services</h3>
   <p>Our mission at Autotrader is to be your ultimate online solution for buying and selling new, certified and used cars. Our site is designed to give you more control of the buying process and make finding a vehicle easier than ever before.
 
    Whether you’re shopping for a new, certified or used car, our website offers you these benefits:
    The largest selection of vehicle inventory from dealers and private sellers
    The most comprehensive selection of buying and selling tips
    The most complete research and compare tools, including reviews, photos, videos and more
    Vehicle pricing, including seller specials and dealer discounts
    Safety information and vehicle history reports
    Help with finance, insurance and warranty programs
    Not sure which type of car you want? That’s okay. Autotrader lets you research and compare new, certified and used cars by searching for body type, mileage, price and numerous other criteria. Our Lifestyle Centers allow you to locate vehicles that meet your needs and compare them side by side. Autotrader is the only website with more than 3 million vehicle listings from 40,000 dealers and 250,000 private owners. We provide the largest selection of vehicles and attract more than 14 million qualified buyers each month. Find your next car on Autotrader</p>
  </div>
  </div>
</div>
{% endblock %}