{% load static %}
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    
    <ul class="navbar-nav  ml-auto navbar-icons d-flex flex-row">
      <li class="nav-item">
        <a class="nav-link" href="/"><i class="fa fa-phone"></i>334-332-4434</a>
      </li>
      <li class="nav-item">
       
        <a class="nav-link" href="/"><i class="fa fa-envelope"></i>reg@carzone.com</a>
      </li>
      {% if request.user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="/auth/profile">Dashboard</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/auth/signout">Signout</a>
        </li>

        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="/auth/signin">Signin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/auth/signup">Register</a>
        </li>
       {% endif %}
      </ul>
    </div>
  
  </nav>