<div class="search-box-4">
    <form method="GET" action"">
        <div class="form-group"><input type="text" name="srch" class="form-control" placeholder="Search cars database"/></div>
        <div class="form-group">
        <select name="make" class="form-control">
            <option value="0" selected>Select Make</option>
            {% for make in makes %}
            <option value="{{ make.id }}" selected>{{make.name}}</option>
              {% endfor %}
            
        </select>
         </div>
         <div class="form-group">
            <select name="model" class="form-control">
                <option value="0" selected>Select Model</option>
                {% for model in models %}
                <option value="{{ model.id }}" selected>{{model.name}}</option>
                  {% endfor %}
               
            </select>
           
        </div>
        <div class="form-group">
            <select name="trim" class="form-control">
                <option value="0" selected>Select Trim</option>
                {% for trim in trims %}
                <option value="{{ trim.id }}" selected>{{trim.name}}</option>
                  {% endfor %}
               
            </select>
           
    </div>
    <div class="form-group">
        price
    </div>
    <button type="submit" class="btn btn-danger">Search</button>
    
      
    </form>
</div>