{% load static %}
<div class="team-1">
    <div class="photo">
        <a href="#">
            <img src="/static/images/avatar/{{emp.image}}" alt="team-1" class="img-fluid">
        </a>
        <div class="social-list clearfix">
            <a href="#" class="facebook-bg"><i class="fa fa-facebook"></i></a>
            <a href="#" class="twitter-bg"><i class="fa fa-twitter"></i></a>
            <a href="#" class="google-bg"><i class="fa fa-google"></i></a>
        </div>
    </div>
    <div class="details">
        <h4><a href="team-detail.html">{{emp.firstname}} {{emp.lastname}}</a></h4>
        <h5>{{emp.dept}}</h5>
    </div>
</div>